*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    list-style: none;
}
header{
    padding: 16px;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
  display: flex;  
}
ul li{
    padding: 0 16px;
}
ul li a:hover{
    color: white;
}
ul li a:active{
    color: red;
}
.signup{
    display: flex;
}
.signup h3{
    padding: 0 16px;
}
